@font-face {
  font-family: 'Dosis Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/dosis-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/dosis-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/dosis-v19-latin-700.woff2") format("woff2"), url("../assets/fonts/dosis-v19-latin-700.woff") format("woff"), url("../assets/fonts/dosis-v19-latin-700.ttf") format("truetype"), url("../assets/fonts/dosis-v19-latin-700.svg#Dosis") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/open-sans-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/open-sans-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v20-latin-regular.woff2") format("woff2"), url("../assets/fonts/open-sans-v20-latin-regular.woff") format("woff"), url("../assets/fonts/open-sans-v20-latin-regular.ttf") format("truetype"), url("../assets/fonts/open-sans-v20-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/open-sans-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/open-sans-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-v20-latin-700.woff2") format("woff2"), url("../assets/fonts/open-sans-v20-latin-700.woff") format("woff"), url("../assets/fonts/open-sans-v20-latin-700.ttf") format("truetype"), url("../assets/fonts/open-sans-v20-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "Open Sans Regular", sans-serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

input {
  padding: 10px;
  border: none;
  display: inline-block;
  height: 60px;
  width: 270px;
  font-family: "Open Sans Regular";
  font-size: 14px;
  background-color: #E5E5E5;
}

select {
  padding: 10px;
  border: none;
  display: inline-block;
  height: 60px;
  width: 270px;
  font-family: "Open Sans Regular";
  font-size: 14px;
  background: #E5E5E5;
}

textarea {
  border: none;
  display: inline-block;
  width: 1280px;
  font-family: "Open Sans Regular";
  font-size: 14px;
  background: #E5E5E5;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.banner-bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.main-title {
  font-family: "Dosis Bold";
  font-style: normal;
  font-size: 96px;
  margin-bottom: 5px;
  text-align: center;
  color: #FFFFFF;
}

.section-title {
  font-family: "Dosis Bold";
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.subtitle {
  font-family: "Open Sans Regular";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.5em;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: auto;
}

.line {
  width: 60px;
  height: 5.11px;
  align-self: center;
  background: #E8C300;
  border-radius: 50px;
  margin-bottom: 36px;
}

.schedule {
  font-family: "Open Sans Regular";
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.form-item {
  background: #E5E5E5;
  border-radius: 5px;
}

.small {
  margin-bottom: 20px;
  font-family: "Open Sans Regular";
  color: #333333;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.text {
  font-family: "Open Sans Bold";
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.flex_align-center {
  align-items: center;
}

.flex_align-start {
  align-items: flex-start;
}

.flex_content-end {
  justify-content: flex-end;
}

.flex_content-center {
  justify-content: center;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_column {
  flex-direction: column;
}

.flex_column-reverse {
  flex-direction: column-reverse;
}

.flex_space-between {
  justify-content: space-between;
}

.flex_basis-80 {
  flex-basis: 80%;
  max-width: 80%;
}

.flex_basis-50 {
  flex-basis: 50%;
  max-width: 50%;
}

.flex_basis-25 {
  flex-basis: 25%;
  max-width: 25%;
}

.flex_basis-30 {
  flex-basis: 30%;
  max-width: 30%;
}

.flex_basis-100 {
  flex-basis: 100%;
  max-width: 100%;
}

.button {
  font-family: "Open Sans Bold";
  font-size: 12px;
  line-height: 20px;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  padding: 15px 0;
  width: 200px;
  height: 60px;
}

.button_yellow {
  background-color: #E8C300;
}

.button_transparent {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.header {
  padding-top: 25px;
}

.header__nav-item {
  margin: 20px 20px;
}

.top-banner {
  background-image: url("../assets/images/banner-bg .png");
  padding: 100px 0;
  margin-top: -180px;
  z-index: -1;
}

.top-banner__wrapper {
  position: relative;
  margin-top: 165px;
}

.top-banner__content {
  max-width: 998px;
}

.top-banner__title {
  padding-top: 30px;
}

.top-banner__subtitle {
  top: 0;
}

.top-banner__button {
  margin-bottom: 92px;
  padding: 0 279px 0 279px;
}

.top-banner__angle-down {
  text-align: center;
}

.top-banner__angle-down-link {
  width: 60px;
  height: 60px;
}

.top-banner__schedule {
  position: absolute;
  top: 0;
  left: 81px;
  color: #FFFFFF;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.top-banner__socials {
  position: absolute;
  right: 30px;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.top-banner__socials a {
  display: inline-block;
}

.about {
  padding: 100px 0;
}

.about__desc {
  font-family: "Open Sans Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  padding-bottom: 100px;
}

.about__image {
  position: relative;
  max-width: 475px;
  width: 100%;
}

.about__image::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -70px;
  margin: auto;
  width: 40%;
  height: 40%;
  border: 20px solid #E8C300;
}

.team {
  padding: 100px 0;
}

.team__subtitle {
  align-items: center;
}

.team__banner-bg-img {
  background-image: url("../assets/images/our_team-bg.png");
}

.team__content {
  line-height: 24px;
}

.team__desc {
  font-family: "Open Sans Regular";
  font-size: 14px;
  font-style: normal;
  text-align: center;
}

.team__image {
  position: relative;
  max-width: 475px;
  width: 100%;
}

.team__image::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -70px;
  margin: auto;
  width: 40%;
  height: 40%;
  border: 20px solid #E8C300;
}

.booking {
  padding: 100px 0;
}

.booking__image {
  position: relative;
  max-width: 475px;
  width: 100%;
}

.booking__image::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -70px;
  margin: auto;
  width: 40%;
  height: 40%;
  border: 20px solid #E8C300;
}

.booking__schedule {
  margin: auto;
  color: #000000;
  opacity: 0.4;
}

.booking__form-item {
  margin: 5px;
  width: 280px;
}

.booking__button {
  width: 568px;
  margin: 5px;
}

.specialties {
  padding: 100px 0;
}

.specialties__subtitle {
  align-items: center;
}

.specialties__banner-bg-img {
  background-image: url("../assets/images/specialties-bg.png");
}

.specialties__desc {
  font-family: "Open Sans Regular";
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
}

.specialties__image {
  position: relative;
  max-width: 475px;
  width: 100%;
}

.specialties__image::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -70px;
  margin: auto;
  width: 40%;
  height: 40%;
  border: 20px solid #E8C300;
}

.menu {
  padding: 100px 0;
}

.menu__nav {
  font-family: "Open Sans Regular";
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.menu__nav-list {
  margin: 50px;
}

.menu__nav-item {
  padding: 20px 40px;
}

.menu__nav-item_right-line {
  border-right: 2px solid #E5E5E5;
}

.menu__nav-item_right-line:nth-child(6n+7) {
  border-right: none;
}

.menu__nav-item a {
  color: #000000;
}

.menu__food-item {
  font-family: "Dosis Bold";
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  margin-bottom: 20px;
  min-width: 416px;
}

.events {
  padding: 100px 0;
}

.events__banner-bg-img {
  background-image: url("../assets/images/private_ivents-bg.png");
}

.events__image-left, .events__image-right {
  position: relative;
  max-width: 475px;
  width: 100%;
}

.events__image-right::before {
  content: 'CORPORATE PZRTIES';
  text-orientation: mixed;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: "Dosis Bold";
  font-size: 24px;
  line-height: 12px;
  padding: 20px 0 0 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -28px;
  margin: auto;
  width: 10%;
  height: 78%;
  background: #000000;
}

.events__image-right::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -70px;
  margin: auto;
  width: 40%;
  height: 40%;
  border: 20px solid #E8C300;
}

.events__image-left::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -70px;
  margin: auto;
  width: 40%;
  height: 40%;
  border: 20px solid #E8C300;
}

.events__image-left::after {
  content: 'WEDDINGS';
  text-orientation: mixed;
  writing-mode: vertical-lr;
  font-family: "Dosis Bold";
  font-size: 24px;
  line-height: 12px;
  padding: 20px 0 0 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -28px;
  margin: auto;
  width: 10%;
  height: 78%;
  background: #000000;
}

.events__private {
  margin: auto;
  opacity: 0.4;
}

.photo-gallery__images-wrapper img {
  width: 100%;
  height: auto;
}

.contact {
  padding: 100px 0;
}

.contact__text {
  padding-bottom: 51px;
}

.contact__form-item {
  margin: 6px;
  padding: 5px 0 0 5px;
  width: 420px;
}

.contact__form-info {
  padding: 10px;
}

.contact__form-info i {
  padding: 10px;
  color: #E8C300;
}

.contact__form-info a {
  color: #000000;
}

.contact__form-button {
  padding: 10px;
}

.footer {
  background-color: #000000;
  padding: 50px 0;
  color: #FFFFFF;
  font-family: "Open Sans Regular";
  font-size: 12px;
  line-height: 12px;
}
