$color-white:#FFFFFF;
$color-yellow:#E8C300;
$color-black:#000000;
$color-mercury:#E5E5E5;
$color-grey:#E5E5E5;
$color-dark-grey:#333333;

$font-regular:'Open Sans Regular';
$font-bold:'Open Sans Bold';
$d-font-bold:'Dosis Bold';