.menu {
  padding: 100px 0;

  &__nav {
    font-family: $font-regular;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  &__nav-list {
    margin: 50px;
  }

  &__nav-item {
    padding: 20px 40px;
  }

  &__nav-item_right-line {
    border-right: 2px solid $color-grey;
  }

  &__nav-item_right-line:nth-child(6n+7) {
    border-right: none;
  }

  &__nav-item a {
    color: $color-black;
  }

  &__food-item {
    font-family: $d-font-bold;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    margin-bottom: 20px;
    min-width: 416px;
  }
}